.productContainer {
  width: 190px;
  min-height: 304px;
  background: white;
  margin-bottom: 30px;
  font-size: 10px;
  padding: 3px;
  outline: 10px solid rgb(255, 255, 255, 0.3);
  border-radius: 3px;
  line-height: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.productContainer > h1 {
  padding-left: 10px;
}

.productImage {
  display: flex;
  justify-content: center;
}

.productImage > img {
  width: 160px;
  height: 200px;
}

.productImage:hover {
  opacity: 0.7;
  cursor: pointer;
}

.productTitle {
  max-height: 80px;
  width: 160px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  font-size: 0.6rem;
  color: #007185;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.productTitle:hover {
  cursor: pointer;
  text-decoration: underline;
}

.productRating {
  display: flex;
  font-size: 14px;
}

.productPriceAndSave {
  display: flex;
  justify-content: space-between;
}

.productPriceAndSave > h1 {
  color: #b12704 !important;
}

.productPriceAndSave > button {
  color: rgb(40, 155, 201);
  border-radius: 2px;
  padding: 5px 15px;
  border: none;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
}

.productPriceAndSave > button > .MuiSvgIcon-root {
  font-size: 14px;
  margin-right: 5px;
}

.productPriceAndSave > button:hover {
  color: whitesmoke;
  background: rgb(40, 155, 201);
}

.productPriceAndSave > button:disabled {
  display: none;
}
