.bodyContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* height: 80vh; */
  flex-wrap: wrap;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* width: 65%; */
  max-width: 50%;
  padding: 30px;
}

.dice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice > .MuiSvgIcon-root {
  height: 150px;
  width: 200px;
  color: whitesmoke;
}
