.sidebarContainer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  background: rgb(255, 255, 255, 0.3);
  border-radius: 7px;
  padding: 10px;
  margin-top: 21px;
}

.sidebarContainer > .MuiSvgIcon-root {
  font-size: 145px;
  margin-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
  color: #aea1a1;
}

.savedProducts {
  width: 90%;
}

.singleSavedProduct {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 19px;
  background: whitesmoke;
  border-radius: 1px;
  color: #007185;
  outline: 8px solid rgb(255, 255, 255, 0.3);
}

.productPic {
  width: 32px;
  height: 40px;
  padding: 10px;
}

.singleSavedProduct > p {
  /* white-space: nowrap; */
  overflow: hidden;
  width: 200px;
  /* display: flex; */
  /* align-items: center; */

  overflow-wrap: break-word;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.singleSavedProduct > h3 {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #383636 !important;
}

.singleSavedProduct > h3:hover {
  color: rgb(240, 30, 30) !important;
}

/* .singleSavedProduct:nth-child(n + 4) {
  color: white;
} */
